* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #102543;
}
.full {
	display: grid;
	grid-template-columns: 4fr 4fr;
    align-items: center;
    justify-content: center;
}
.left {
	position: initial;
    width: 550px;
    height: 450px;
    margin-top: 1%;
}
.right {
	position: initial;
	background-color: #e4edf9;
    margin-top: 1%;
    height: 450px;
}
.login{
	margin-left: 17%;
}
h2{
	padding-left: 25%;
	padding-top: 39px;
}
h5{
	padding-left: 29%;
}
input[type=text], input[type=password] {  
	width: 80%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 2px solid #1B81BF;   
	box-sizing: border-box;   
}  
button {   
	background-color: #1B81BF;   
	width: 80%;  
	color: white;   
	font-size: 15px;
	padding: 12px;   
 	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
	  }
button:hover {
	background-color: #3c98d2;
}  
.login a{
	padding-left: 29%;
} 
.login p{
	padding-left: 32%;
}